<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="E:/OrionTechAutomation/study projects/RestAssured_Framework_Sept/src/test/java/employeemanagement">
        <packages>
            <package name="employeemanagement"/>
            <package name="petmanagement"/>
            <package name="usermanagement"/>
        </packages>
    </test>
</suite>